<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Dashboard - White Wolf India</title>
    <link rel="stylesheet" href="/css/adminstyle.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../assets/whitewolflog.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <style>

        .export-btn{
            background-color:green;
            padding: 1vh;
            font-size: 2vh;
            color: #fff;
            cursor: pointer;
            border-radius: 5px;
        }

        .export-btn:hover{
            background-color: darkgreen;
        }

        @media only screen and (max-width: 768px) {
            #productsSection {
                padding: 2rem;
            }
        }

        .form-container {
            display: flex;
            justify-content: space-between;
        }

        .form-container > div {
            width: 48%; 
        }

        output{
            display: flex;
            flex-direction: row;
            width: 30vw;
        }

        output img{
            height: 15vh;
            margin: 0.5rem;
            border-radius: 1rem;
            width:auto;
        }

        .top-selling{
            border: 1px solid lightgrey;
            border-radius: 1vh;
            overflow-y: scroll;
            display: flex;
            height: 40vh;
            padding: 2vh;
            align-items: center;
            flex-direction: column;
            text-align: left;
        }
        .form-container input,
        .form-container textarea,
        .form-container select {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            box-sizing: border-box;
            border: 1px solid lightgrey;
            border-radius: 1rem;
        }

        .form-container button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        
        canvas{
            width:auto!important;
            height: 250px !important;
        }
    </style>
</style>
<div id="alertContainer"></div>
<style>
   .alert {
       position: fixed;
       top: 1rem;
       right: 1rem;
       z-index: 1;
       padding: 1vh 2vh;
       margin-bottom: 1rem;
       border: 2px solid transparent;
       text-transform: capitalize;
       border-radius: 5px;
       transition: 0.3s ease-in-out;
     }

     #graphSelect{
         padding: 1vh;
         border: 1px solid lightgrey;
         border-radius: 1vh;
         text-transform: uppercase;
     }

     .alert.success {
       color: #fff;
       background-color: green;
       border-color: #fff;
     }
     .alert.danger {
       color: #fff;
       background-color: maroon;
       border-color: #fff;
     }
   </style>
   <script>
     function showAlert(message, type) {
       const alertContainer = document.getElementById("alertContainer");

       const alert = document.createElement("div");
       alert.className = `alert ${type}`;
       alert.innerHTML = `${message}<span class="close" onclick="closeAlert(this)"> &#9587;</span>`;

       alertContainer.appendChild(alert);

       setTimeout(() => {
         closeAlert(alert.querySelector(".close"));
       }, 4000);
     }

     function closeAlert(closeButton) {
       const alert = closeButton.parentElement;
       alert.style.display = "none";
     }
   </script>
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li class="logo">
                        <img src="/assets/ww side name logo.png" alt="">
                        <span class="nav-item admin">Admin Dashboard</span>
                </li>
                <li><a href="#" onclick="selectSection('usersSection')" id="usersTab">
                    <i class="fas fa-user"></i>
                    <span class="nav-item">Registered Users</span>
                </a></li>
                <li><a href="#" onclick="selectSection('analyticsSection')" id="analyticsTab">
                    <i class="fas fa-chart-line"></i>
                    <span class="nav-item">Analytics</span>
                </a></li>
                <li><a href="#" onclick="selectSection('ordersSection')" id="ordersTab">
                    <i class="fas fa-store"></i>
                    <span class="nav-item">Orders</span>
                </a></li>
                <li><a href="#" onclick="selectSection('productsSection')" id="productsTab">
                    <i class="fas fa-shopping-bag"></i>
                    <span class="nav-item">Add Products</span>
                </a></li>

                <li><a href="#" onclick="selectSection('inventorySection')" id="inventoryTab">
                    <i class="fas fa-warehouse"></i>
                    <span class="nav-item">Inventory</span>
                </a></li>

                <li><a href="#" onclick="selectSection('couponSection')" id="couponTab">
                    <i class="fas fa-gift"></i>
                    <span class="nav-item">Coupons</span>
                </a></li>

                <li>
                    <a href="#" onclick="selectSection('historySection')" id="historyTab">
                        <i class="fas fa-clock"></i>
                    <span class="nav-item">History</span>
                    </a>
                </li>

                <li>
                    <a href="#">
                    <i class="fas fa-sign-out-alt"></i>
                    <span class="nav-item"><button onclick="confirmLogout()" style="background-color: transparent;color: #fff;">Log Out</button></span>
                    </a>
                </li>
            </ul>
        </nav>    

        <script>
             async function confirmLogout() {
        if (confirm("Are you sure you want to logout?")) {
          const response = await axios
            .get("/logout")
            .then((response) => {
              if (response.status === 200) {
                showAlert("logged out successfully", "success");
                window.location.href = "/";
              }
            })
            .catch((error) => {
              showAlert("Failed to logout", "danger");
              console.error("Logout failed", response.data.message);
            });
        } else {
          alert("Logout canceled.");
        }
      }
        </script>


        <section class="main" id="analyticsSection" >
            <!-- orders analytics -->
            <!-- done -->
            
        </section>   

        <section class="main" id="ordersSection" style="display: none;">
            <section class="main-orders">
                <h1>Orders  <button class="export-btn ml-2" onclick="exportToCSV()">Export CSV <iconify-icon icon="ic:baseline-file-download"></iconify-icon></button></h1>

                <div class="orders-container">
                    <ul class="list">
                        <li onclick="loadAllOrders()" id="all">All Orders</li>
                        <li onclick="loadPendingOrders()" id="Pending">Pending Orders</li>
                        <li onclick="loadSentOrders()" id="Sent">Sent Orders</li>
                        <li onclick="loadDeliveringOrders()" id="Delivering">Delivering Orders</li>
                        <li onclick="loadDeliveredOrders()" id="Delivered">Delivered Orders</li>
                    </ul>
                    <div>
                        <div class="order-table" id="allOrdersTab">
                            <table class="table table-bordered table-striped" style="overflow-y: auto;">
                                <thead>
                                    <tr>
                                        <th style="width: 10%;">Order Id</th>
                                        <th style="width: 10%;">Identification</th>
                                        <th style="width: 15%;">Products</th>
                                        <th style="width: 30%;">Address</th>
                                        <th style="width: 5%;">Method</th>
                                        <th style="width: 15%;">Date</th>
                                        <th style="width: 15%;">Status</th>
                                    </tr>
                                </thead>
                                <tbody id="OrdersBody" style="overflow: hidden;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </section>

        <script>
            function exportToCSV() {

                const rows = document.querySelectorAll("#allOrdersTab tbody tr");
                const data = Array.from(rows, row => {

                    const columns = row.querySelectorAll("td:not(:last-child)");
                    return Array.from(columns, column => column.textContent).join(",");
                }).join("\n");

                const blob = new Blob([data], { type: "text/csv" });

                const link = document.createElement("a");
                link.href = URL.createObjectURL(blob);
                link.download = "orders.csv";

                link.click();
            }

                let Orders = []
                let selectedOrdersTab = 'all'
                function createTableCell(content) {
                    let cell = document.createElement('td')
                    cell.innerHTML = content;
                    return cell;
                }
                function dynamicOrderStatus (Id,content) {
                    let cell = document.createElement('td')
                    cell.innerHTML = `
                        <select id="myDropdown_${Id}">
                            <option value="Pending" ${content === 'Pending' ? 'selected' : ''}>Pending</option>
                            <option value="Sent" ${content === 'Sent' ? 'selected' : ''}>Sent</option>
                            <option value="Delivering" ${content === 'Delivering' ? 'selected' : ''}>Delivering</option>
                            <option value="Delivered" ${content === 'Delivered' ? 'selected' : ''}>Delivered</option>
                        </select>
                    `;
                    return cell;
                }
                const loadOrders = async () => {
                    await axios.get('/api/admin/getAllOrders')
                        .then(response => response.data)
                        .then(data => {
                            Orders = data;
                            loadAllOrders();
                            showAlert("Orders loaded successfully","success")
                        })
                        .catch(err => showAlert("server refused on order data","danger"))
                }

                function loadAllOrders() {
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'all'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')
                    loadOrdersTable(Orders);
                }

                function loadPendingOrders() {
                    const pendingOrders = Orders.filter(order => order.status === 'Pending');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Pending'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(pendingOrders);
                }

                function loadSentOrders() {
                    const sentOrders = Orders.filter(order => order.status === 'Sent');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Sent'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(sentOrders);
                }

                function createTableCell(data, isOrderId = false) {
                    let cell = document.createElement('td');
                    if (isOrderId && data.length > 11) {
                        cell.textContent = data.substring(0, 11) + '..';
                    } else {
                        cell.textContent = data;
                    }
                    return cell;
                }

                function loadDeliveringOrders() {
                    const deliveringOrders = Orders.filter(order => order.status === 'Delivering');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Delivering'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(deliveringOrders);
                }

                function loadDeliveredOrders() {
                    const deliveredOrders = Orders.filter(order => order.status === 'Delivered');
                    document.querySelector('#' + selectedOrdersTab).classList.remove('active')
                    selectedOrdersTab = 'Delivered'
                    document.querySelector('#' + selectedOrdersTab).classList.add('active')

                    loadOrdersTable(deliveredOrders);
                }

                function loadOrdersTable(orders) {
                    document.querySelector('#OrdersBody').innerHTML = '';
                    orders.forEach(async order => {

                        let row = document.createElement('tr');
                        row.append(createTableCell(order.razorpay_order_id, true));
                        
                        row.append(createTableCell(`${order.name}, ${order.email}, ${order.phone}`));   
                        let names = '';
                        await Promise.all(order.products.map(async product => {
                            try {
                                const response = await axios.get(`/api/products/${product.itemId}`);
                                names += ` ${response.data.name}`;
                            } catch (err) {
                                console.log('error fetching products', err);
                            }
                        }));
                        row.append(createTableCell(names));
                        row.append(`${order.address}, locality ${order.locality}, landmark ${order.landmark}, city, ${order.city} (Pincode : ${order.pincode})`);
                        row.append(createTableCell((order.deliveryMethod) || "Prepaid"));
                        const dateTime = new Date(order.Date);
                        const formattedDateTime = dateTime.toLocaleString();
                        row.append(createTableCell(formattedDateTime));
                        row.append(dynamicOrderStatus(order.razorpay_order_id, order.status));
                        document.querySelector('#OrdersBody').append(row);
                        document.querySelector(`#myDropdown_${order.razorpay_order_id}`).addEventListener('change', async event => {
                            const selectedValue = event.target.value;
                            await axios.put('/api/update-order-status/' + order.razorpay_order_id, {
                                status: selectedValue
                            })
                            .then(response => {
                                showAlert('order status updated successfully', 'success');
                                document.querySelector('#' + selectedOrdersTab).classList.remove('active')

                                order.status = selectedValue;
                                selectedOrdersTab = selectedValue;

                                document.querySelector('#' + selectedOrdersTab).classList.add('active')

                                switch (selectedValue) {
                                    case 'Pending':
                                        loadPendingOrders()
                                    break;
                                    case 'Sent':
                                        loadSentOrders()
                                    break;
                                    case 'Delivering':
                                        loadDeliveringOrders()
                                    break;
                                    case 'Delivered':
                                        loadDeliveredOrders()
                                    break;
                                    default:
                                        loadAllOrders()
                                    break;
                                }
                            })
                            .catch(error => {
                                showAlert('error updating order status', 'danger');
                            });
                        });
                    });
                }

                document.querySelector('#ordersTab').addEventListener('click', loadOrders)
            </script>
        </section>

        <section class="main" id="historySection" style="display: none;">
            <section class="main-orders">
                <h1>View History</h1>

               <div class="coupon-container" style="padding: 0vh 0vh 0vh 2vh;">

                <div style="overflow: auto;height: 100%;overflow-y: scroll;padding-right: 1vh;">

                    <table id="couponList">
                        <thead>
                            <tr>
                            <th>Email</th>
                            <th>Date</th>
                            <th>Action</th>
                            </tr>
                        </thead>
                        <tbody class="adminHistoryTableBody">
                        </tbody>

                    </table>
                </div>
            </div>
            <script>
                function addLedgerRow(data){
                    const {email, dateTime, action} = data
                    const formattedDateTime = new Date(dateTime).toLocaleString();
                    let row = document.createElement('tr')
                    row.innerHTML = `
                    <tr>
                        <td>${email}</td>
                        <td>${formattedDateTime}</td>
                        <td>${action}</td>
                    </tr>
                    `
                    document.querySelector('.adminHistoryTableBody').append(row)
                }
                document.querySelector('#historyTab').addEventListener('click', async () => {
                    await axios.get('/adminActionHistory')
                    .then(response => response.data)
                    .then(ledger => {
                        showAlert("Admin history loaded successfully", "success")
                        document.querySelector('.adminHistoryTableBody').innerHTML=''
                        ledger.forEach(data => addLedgerRow(data))
                    })
                    .catch(err => showAlert("An error occured while fetching the history","danger"))
                })
            </script>
            </section>
        </section>

        <section class="main" id="contlo" style="display: none;">
            <section class="main-orders">
                <h1>Contlo Sync</h1>

               <div class="coupon-container" style="padding: 0vh 0vh 0vh 2vh;">

                <div style="overflow: auto;height: 100%;overflow-y: scroll;padding: 1vh;padding-right: 2vh;padding-top: 3vh;">
                    <div style="display: flex; flex-direction: column; align-items: center; justify-content: space-between; margin-bottom: 1rem; width: 100%;">

                        <input type="text" id="collection_id" placeholder="Collection ID" style="flex: 1; margin-bottom: 1rem; padding: 0.5rem; border: 1px solid #ccc; border-radius: 5px; width: 100%;">

                        <input type="text" id="collection_title" placeholder="Collection Name" style="flex: 1; margin-bottom: 1rem; padding: 0.5rem; border: 1px solid #ccc; border-radius: 5px; width: 100%;">

                        <button onclick="addNewContloCollection()" id="sendButton" style="padding: 0.5rem 1rem; background-color: #4CAF50; color: white; border: none; border-radius: 5px; cursor: pointer; width: 100%;">Create</button>

                    </div>

                </div>
            </div>

            <script>
                function addNewContloCollection() {
                    const id = document.getElementById("collection_id").value
                    const name = document.getElementById("collection_title").value

                    const url = "https://callback-service.contlo.com/api/collection/create?X-API-KEY=888a1070cd1541e424106639d7b9e4f3";

                    const payload = {
                        collection_id: id,
                        title: name
                    };

                    const config = {
                        headers: {
                            accept: "application/json",
                            "content-type": "application/json"
                        }
                    };

                    axios.post(url, payload, config)
                        .then((response) => {
                            console.log(response.data);
                            showAlert("successful","success")
                        })
                        .catch((error) => {
                            console.error(error);
                            showAlert("failed","danger")
                        });
                }
            </script>
            </section>
        </section>

  <%- include('partials/loader') %> 
  <script src="https://code.iconify.design/iconify-icon/1.0.7/iconify-icon.min.js"></script>

    </div>
    <script>
        let selectedSection = "analyticsSection";

        function selectSection(sectionName) {
            document.getElementById(selectedSection).style.display = "none";
            document.getElementById(sectionName).style.display = "block";
            selectedSection = sectionName;
        }
    </script>

</body>

</html>